body {
	font-family: Arial;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h2 {
	color: #ffffff;
	font-size: 40px;
  text-align: left;
  margin-left: 50px;
}

/* background color to nav bar*/
.nav {
    background-color: #595A53;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
		font-family: "Arial";
}

/* Change the color of links on hover */
.nav a:hover {
    //background-color: #15160E;
    color: #B23E4C;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #D1D7C3;
    color: black;
}

.header {
	display: block;
	//margin-top: 0;
  padding: 30px;
	color: #D1D7C3;
	font-family: "Roboto";
	max-height: 150px;
	padding-top: 1%;
}

.header-text {
	//text-align: left;
	//padding-top: 25px;
	//padding-bottom: 5px;
}

.header-text h1{
	font-size: 70px;
}

.homepage {
	display: block;
	background-color: white;
	//padding: 0;
}

.homepage-image {
	width: 100%;
	padding: 0;
}

p {
	color: #777777;
	font-size: 20px;
}

.banner a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

@font-face {
font-family: "Lazyday";
src: url("css/fonts/lazyday");
src:
url("css/fonts/lazyday-webfont.woff") format("woff"),
url("css/fonts/lazyday-webfont.woff2") format("woff");
}
